[submodule "dependencies/linenoise"]
	path = dependencies/linenoise
	url = https://github.com/antirez/linenoise
[submodule "dependencies/libelfin"]
	path = dependencies/libelfin
	url = https://github.com/TartanLlama/libelfin/
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog
